[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=LeantermLocal
GenericName=TerminalEmulator

Exec=leanterm-local %U
StartupWMClass=dev.leanterm.LeantermLocal

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.leanterm.LeantermLocal

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for leantermlocal:// URLs.
MimeType=x-scheme-handler/leantermlocal;
