#!/bin/bash

XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}

# Allow users to override command-line options
if [[ -f $XDG_CONFIG_HOME/leanterm@@CHANNEL_SUFFIX@@-flags.conf ]]; then
    LEANTERM_USER_FLAGS="$(grep -v '^#' $XDG_CONFIG_HOME/leanterm@@CHANNEL_SUFFIX@@-flags.conf)"
fi

# Launch
exec /opt/leanterm/leanterm@@CHANNEL_SUFFIX@@/@@BINARY_NAME@@ $LEANTERM_USER_FLAGS "$@"
