[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=LeantermDev
GenericName=TerminalEmulator

Exec=leanterm-dev %U
StartupWMClass=dev.leanterm.LeantermDev

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.leanterm.LeantermDev

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for leantermdev:// URLs.
MimeType=x-scheme-handler/leantermdev;
